
.wrapper{
    position: relative;
    width: 85vw;
    padding: 0 1rem;
}


.slide-container{
    display: flex !important;
    justify-content: center;
}

.slick-next:before,.slick-prev:before{
    color: black !important;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: 1 !important;
}

.slick-dots {
    bottom: -30px !important;
}

.slick-dots li button:before {
    font-size: 10px !important;
}