
.cities-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.cities-title-container{
    max-height: 60vh;
}


.cities-title-container h1{
    font-size: 40vw;
    line-height: 0.55;
}
/* font-size: 700px; */
.cities-cards-container{
    display: flex;
    flex-wrap: wrap;
}
.cities-cards-container div{
    flex-grow: 1;
}

