.cards-container{
    width: 63vw;
    padding: 1rem;
}
.cities-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 1rem;
}

.slick-next::before, .slick-prev::before {
    display: none;
}

.cities-title-container{
    text-align: center;
    display: grid;
    place-content: center;
    gap: .5rem;
}