nav{
    display: flex;
    align-items: center;
    z-index: 4¿;
}

.anchors{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.button-menu-toggler {
    position: relative;
    background-color: white;
    border:none;
}

.menu-toggler {
    cursor: pointer;
    display: none;
    padding: .5rem .5rem .5rem .5rem;
    border-radius: 4px;
}

.menu-toggler:hover {
    background-color: #dfdfdf;
}


@media (max-width:570px){
    .anchors {
        display:none;
    }
    .menu-toggler {
        display:block;
    }
}

.anchors.toggled {
    position: absolute;
    padding: 4rem 0 1.5rem 0;
    height: 220px;
    width: 180px;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color:white;
    border: 1.5px solid #dfdfdf;
    gap: .5rem;
}

.links.toggled {
    display: flex;
    flex-direction: column;
}



