.popular-container{
    display: grid;
    place-content: center;
    text-align: center;
    padding: 0 1rem;
}



.popular-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}